{% extends "LexikTopOrFlopBundle::layout.html.twig" %}

{% block title 'Top or Flop - tops' %}

{% block content %}
    <h2>Classement des Tops</h2>
    {% for top in tops %}
        {% include "LexikTopOrFlopBundle:Default:media_list.html.twig" with { 'media': top } %}
        <br />
    {% endfor %}
{% endblock %}
