{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}

{% block content %}
    {{ form_start(edit_form) }}
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.url) }}
         {{ form_row(edit_form.categorie) }}
        {{ form_widget(edit_form.save, { 'label': 'Enregistrer' }) }}
    {{ form_end(edit_form) }}
{% endblock %}
