{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}
{% block content %}
   <h1>Liste des medias</h1>
{% for flashMessage in app.session.flashbag.get('successModif') %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('successdelet') %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
    <table class="record_properties">
         <hr>
        <thead>
            <tr>
                  <td class="span3">Titre</td>
                 <td class="span3">Image</td>
                 <td class="span3">Categorie</td>
                 <td class="span3">Action</td>
                 
            </tr>
            
            </thead>
           
        <tbody>
            {% for media in medias %}
            <tr>

                <td class="span3">{{ media.title }}</td>
   
                <td class="span3"><img src="{{asset(media.url)}}"></td>
                <td class="span3"><a href="{{path('frontend_show_categorie',{'id':media.categorie.id})}}">{{media.categorie.label}}</a></td>
                <td class="span4">
                    <a href="{{ path('media_edit',{'id' : media.id}) }}" class="btn btn-primary"><i class="icon-pencil"> </i> modifier</a>
                    <a href="{{ path('media_delete',{'id' : media.id}) }}" class="btn btn-danger"><i class="icon-trash"> </i> supprimer</a>
                </td>
                 
               
            </tr>
       
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}