{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('CategorieVide') %}
                            <div class="alert">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
        <h1>Categorie creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
</ul>
{% endblock %}

