{% extends "LexikTopOrFlopBundle::layout.html.twig" %}

{% block content %}
    <h1>Categorie: {{categorie.label}}</h1>
<h4>Liste des médias</h4>
    <table class="record_properties">
         <hr>
        <thead>
            <tr>
                  <th class="span3">Titre</th>
                 <th class="span3">Image</th>
                 
            </tr>
            
            </thead>
           
        <tbody>
            {% for media in categorie.medias %}
            <tr>

                <th class="span3">{{ media.title }}</th>
                <th class="span3"><img src="{{asset(media.url)}}"></th>
               
            </tr>
       
            {% endfor %}
        </tbody>
        
    </table>

{% endblock %}
